.contactClass {
    padding-top: clamp(150px, 20%, 200px);
  
    @media (max-width: 65em) {
      padding-top: clamp(200px, 20%, 250px);
    }
  
    @media (max-width: 30em) {
      padding-top: clamp(125px, 10%, 175px);
    }
  
  }

  .contactSection {
      width: clamp(200px, 33%, 250px);
      border: solid;
      color: black;
      
      padding: 2%;
      padding-top: 1%;
      margin: 2%;
      border-color: #50C79B;

      @media (max-width: 30em) {
        margin-left: 25%;
      }
  }

  .contactTitle {
    text-align: center;
    font-size:2em ;
    margin-top: 2%;
    margin-bottom: 8%;

    @media (max-width: 30em) {
      margin-top: 6%;
      margin-bottom: 6%;
    }
  }

  .contactSocial {
    margin-left: 10%;
    margin-top: 5%;
  }

  .contactParagraph {
    width: 100%;
    
  }

  .contactLogo {
    width: 30px;
  height: 30px;
  margin: 1%;
  margin-top: 4%;
  margin-left: clamp(10px, 5%, 15px);
  fill: #50C79B;
  &:hover{fill:#49b68e}

  @media (max-width: 65em) {
    margin: 5%;
    width: 30px;
    height: 30px;
    margin-left: 3%;
  }
  @media (max-width: 30em) {
    margin: 5%;
    width: 25px;
    height: 25px;
    margin-left: 3%;
  }
  }

  .Email-Form {
    color:#000;
    background-color:#50C79B;
    text-align:center;
    padding-top:1%;
    padding-bottom:3%;
    width: 60%;
    margin-left: 10%;
    }

    .Email-Form-Title {
    font-size:100px;
    }