div.gallery {
    border: none;
  }
  
  div.gallery:hover {
    border: none;
  }
  
 
  
  div.desc {
    padding: 15px;
    text-align: center;
    width: 20vw;

    @media only screen and (max-width:500px){
      width: 250px;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 21%;
    margin: 5% 1.5%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  // @media only screen and (max-width: 700px) {
  //   .responsive {
  //     width: 55%;
  //   }
  // }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 90%;
    }
  }
  
  

  .projectClass {
      margin-left: 3.5%;
      padding-top: 2%;
      overflow: hidden;

      @media (max-width:65em){
          padding-top: 5%;
      }
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .image-style{
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    background: #ffefd3;
    @media only screen and (max-width:500px){
      width: 250px;
      height: 250px;
    }
   
    
  }

  .image-border {
    border-style: solid;
    border-width: 5px;
    border-color: white;
    &:hover{
      filter:opacity(90%) contrast(97%);
      cursor:pointer;
    }
  }

 